body {
    font-family: Arial;
    background: rgb(210, 210, 210);
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    margin: auto;
    width: 320px;
    border-radius: 10px;
    border: 2px solid rgb(210, 210, 210);
}