body {
    font-family: 'Times New Roman';
    background: rgb(210, 210, 210);
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    margin: auto;
    width: 25%;
    border-radius: 10px;
    border: solid rgb(210, 210, 210);
}

div {
    display: block; 
    align-items: center; 
    gap: 10px;
}

label {
    display: block;
    margin-top: 15px;
    text-align: center;
}

input, select {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
}

input[disabled] {
    background: rgb(210, 210, 210);
}

#errorMsg {
    color: red;
}